asn1crypto
autocommand
bcc
blinker
#Brlapi
Brotli
certifi
chardet
click
#colorama
#command-not-found
cryptography
#cupshelpers
dbus-python
distro
distro-info
fuse-python
git-filter-repo
gpg
gyp-next
html5lib
httplib2
idna
inflect
jaraco.context
jaraco.functools
#language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
mdurl
mechanize
more-itertools
mutagen
netaddr
netifaces
oauthlib
olefile
packaging
pexpect
pillow
psutil
ptyprocess
pycairo
pycryptodomex
#pycups
Pygments
PyGObject
PyJWT
pylibacl
pyparsing
PyQt5
PyQt5_sip
#python-apt
python-debian
pyxattr
pyxdg
PyYAML
requests
rich
sentry-sdk
six
systemd-python
tornado
typeguard
typing_extensions
#ubuntu-drivers-common
#ubuntu-pro-client
#ufw
#unattended-upgrades
urllib3
#usb-creator
wadllib
webencodings
websockets
wheel
xdg
#xkit
yt-dlp
